@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
    box-sizing: border-box;
}

.title {
    font-size: 5rem;
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
    margin-top: 100px;
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.canvascon {
    /* width: 100vw; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin: auto;

}

.input1 {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    margin-top: 30px;
}

.input2 {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    margin-top: 30px;
}

.submit {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .title {
        font-size: 3rem;
        font-family: "Do Hyeon", sans-serif;
        text-align: center;
        margin-top: 100px;
    }
    
    .con {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .canvascon {
        /* width: 100vw; */
        /* display: flex;
        justify-content: center; */
        text-align: center;
        margin: auto;
    
    }
    
    .input1 {
        width: 70vw;
        height: 30px;
        border-radius: 50px;
        padding-left: 10px;
        margin-top: 30px;
    }
    
    .input2 {
        width: 70vw;
        height: 30px;
        border-radius: 50px;
        padding-left: 10px;
        margin-top: 30px;
    }
    
    .submit {
        width: 25vw;
        height: 30px;
        border-radius: 50px;
        margin-top: 20px;
    }
}